body {
	font-family: 'Josefin Sans', georgia,serif;
	font-size: 110%;
	line-height: 1.5em;
	background-color: #eee;
	padding-bottom: 3em;
}

h1 {
	line-height: 1.4em;
	margin-top: 10px;
}

ul, ul li {
	margin: 0;
}

#main {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}
.boot-title {
	line-height: 1.3em;
	font-size: 0.8em;
	width: 128px;
}

#books li {
	list-style-type: none;
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	padding-right: 60px;
	padding-bottom: 60px;
}

.wrap-btn,
#books {
	padding-top: 100px;
}

.reader {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.description {
	line-height: 1.5em;
    font-size: 0.8em;
	color: #666;
}

.group.image {
	float: left;
	width: 200px;
}

.meta {
    margin: 5px 0 0;
    padding: 0;
	font-size: 11px;
	clear: left;
}

.meta {
	list-style-type: none;
	padding: 0;
	line-height: 1.5em;
	font-family: arial;
	width: 130px;
}


/* Search */
textarea:focus, input:focus{
    outline: 0;
}

#search_form input#search_input {
	padding: 10px 30px 10px 20px;
	max-width: 500px;
	width: 100%;
	font-size: 1.25em;
	line-height: 1.5em;
	height: 50px;
	font-family: 'Josefin Sans', georgia,serif;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #AAA;
}

#search_form  #search_button {
	width: 48px;
	height: 48px;
	background: transparent url("../img/search.png") no-repeat scroll 0 0;
	display: inline-block;
	text-indent: -9999px;
	border: none;
	cursor: pointer;
	opacity: 0.5;
}

#search_form  #search_button:hover {
	opacity: 0.8;
}

#search_form {
	width: 720px;
	margin: 60px auto 0;
	text-align: center;
}

.btn {
	background-color: #de6868;
	padding: 10px 25px 10px;
	color: white;
	text-decoration: none;
}

.btn:hover {
	opacity: 0.6;
}

/* Autocomplete */
.ui-widget-content {
	background: rgba(255,255,255,0.7) none no-repeat scroll 0 0 !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	border: none !important;
}

.ui-menu li a:hover,
.ui-menu li a:focus,
.ui-menu li a.ui-state-hover {
	background: #ccffff none no-repeat scroll 0 0 !important;
	border: none !important;
	color: #666 !important;
}

.ui-menu li {
	color: #666;
	font-family: 'Josefin Sans', georgia,serif !important;
}

/* Detail view */
#detail-view-template {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -400px 0 0 -400px;
	width: 800px;
	-webkit-box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.3);
	z-index: 99;
	background-color: rgba(255,255,255,0.9);
	padding: 50px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	max-height: 600px;
	overflow: auto;
}

#detail-view-template .book {
	float:left;
	margin: 20px 30px 20px 0;
}

#detail-view-template .wrap-book {
    margin: 10px 50px 20px 0;
    float: left;
}

.close-detail {
   font-size: 2em;
   opacity: 0.6;
   position: absolute;
   right: 30px;
   top: 30px;
   color: #333;
}

.close-detail:hover {
	opacity: 1;
	text-decoration: none;
}

/* 3d css book covers
   http://srobbin.com/blog/3d-css-book-covers/
------------------------------------------------*/
.book {
  display: inline-block;
  box-shadow: 5px 5px 20px #333;
  margin: 10px;
}

.book img { vertical-align: middle; }

.csstransforms3d  .books {
  -moz-perspective: 100px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.csstransforms3d  .book {
  position: relative;
  -moz-perspective: 100px;
  -moz-transform: rotateY(-3deg);
  -webkit-transform: perspective(100) rotateY(-3deg);
  outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
  box-shadow: none;
  margin: 0;
}

.csstransforms3d  .book img {
  position: relative;
}

.csstransforms3d  .book:before,
.csstransforms3d  .book:after {
  position: absolute;
  top: 2%;
  height: 96%;
  content: ' ';
  z-index: -1;
}

.csstransforms3d  .book:before {
  width: 100%;
  left: 6.5%;
  background-color: #fff;
  box-shadow: 5px 5px 20px #333;
}

.csstransforms3d  .book:after {
  width: 5%;
  left: 100%;
  background-color: #EFEFEF;
  box-shadow: inset 0px 0px 5px #aaa;
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg);
}

