body {
	font-family: 'Josefin Sans', georgia,serif;
	font-size: 110%;
	line-height: 1.5em;
	background-color: #eee;
	padding-bottom: 3em;
}

#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(255,255,255,0.7);
	top: 0;
	left: 0;
	z-index: 999999;
}

.placeholder {
	width: 128px;
	height: 195px;
	background-color: #fff;
}
h1 {
	line-height: 1.3em;
	margin: 10px 0 0;
	font-family: 'Josefin Slab', serif;
}

h3 {
	margin-bottom: 0;
	font-size: 1em;
	color: #666;
	text-transform: uppercase;
}

ul, ul li {
	margin: 0;
}

a:link,
a:visited {
	color: #005598;
}

#main {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}
.boot-title {
	line-height: 1.3em;
	font-size: 0.8em;
	width: 128px;
}

#books {
	text-align: center;
}

#books li {
	list-style-type: none;
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 60px;
	position: relative;
}

#books li:hover {
	z-index: 999999;
	cursor: pointer;
}

#books {
	padding-top: 100px;
}

.wrap-btn {
	padding-top: 50px;
}

.reader {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.group.image {
	float: left;
	width: 200px;
}

.meta {
    margin: 5px 0 0;
    padding: 0;
	font-size: 11px;
	clear: left;
}

.meta {
	list-style-type: none;
	padding: 0;
	line-height: 1.5em;
	font-family: arial;
	width: 130px;
}


/* Search */
textarea:focus, input:focus{
    outline: 0;
}

#search_form input#search_input {
	padding: 10px 30px 10px 0;
	max-width: 500px;
	width: 100%;
	font-size: 1.25em;
	line-height: 1.5em;
	height: 50px;
	font-family: 'Josefin Sans', georgia,serif;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #AAA;
}

#search_form  #search_button {
	width: 48px;
	height: 48px;
	background: transparent url("../img/search.png") no-repeat scroll 0 0;
	display: inline-block;
	text-indent: -9999px;
	border: none;
	cursor: pointer;
	opacity: 0.5;
}

#search_form  #search_button:hover {
	opacity: 0.8;
}

#search_form {
	width: 720px;
	margin: 60px auto 0;
	text-align: center;
}

.btn {
	border: 1px solid #ccc;
	color: #666;
	-webkit-box-shadow: inset 1px 1px 0px rgba(255,255,255,0.2),1px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 1px 1px 0px rgba(255,255,255,0.2),1px 1px 0px rgba(255,255,255,0.2);
	background-color: transparent;
	padding: 10px 25px 10px;
	text-decoration: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}


.btn:hover {
	border: 1px solid #999;
}

.description {
	padding-bottom: 1.5em;
}

/* Autocomplete */
.ui-autocomplete {
	background: rgba(255,255,255,0.9) none no-repeat scroll 0 0 !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	border: none !important;
	z-index: 999999 !important;
}

.ui-autocomplete li a:hover,
.ui-autocomplete li a:focus,
.ui-autocomplete li a.ui-state-hover {
	background: #ccffff none no-repeat scroll 0 0 !important;
	border: none !important;
	color: #666 !important;
}

.ui-autocomplete li {
	color: #666;
	font-family: 'Josefin Sans', georgia,serif !important;
}

/* Detail view */
#detail-view-template {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -400px 0 0 -400px;
	width: 800px;
	-webkit-box-shadow: 0 8px 65px rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 65px rgba(0, 0, 0, 0.5);
	z-index: 9999999;
	background-color: rgba(255,255,255,0.9);
	border: 1px solid #999;
	padding: 50px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	max-height: 600px;
	overflow: auto;
}

#detail-view-template .book {
	float:left;
	margin: 20px 30px 20px 0;
}

#detail-view-template .wrap-book {
    margin: 10px 50px 20px 0;
    float: left;
}

a.close-detail {
   font-size: 2em;
   opacity: 0.6;
   position: absolute;
   right: 30px;
   top: 30px;
   color: #333;
   text-decoration: none;
}

.close-detail:hover {
	opacity: 1;
	text-decoration: none;
}

.wrap-info {
	margin-left: 210px;
	margin-bottom: 50px;
}

/* 3d css book covers
   http://srobbin.com/blog/3d-css-book-covers/
------------------------------------------------*/
.book {
  display: inline-block;
  box-shadow: 5px 5px 20px #333;
  margin: 10px;
}

.book img { vertical-align: middle; }

.csstransforms3d  #books ul li,
.csstransforms3d .wrap-book {
  -moz-perspective: 100px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.csstransforms3d  .book {
  position: relative;
  -moz-perspective: 100px;
  -moz-transform: rotateY(-3deg);
  -webkit-transform: perspective(100) rotateY(-3deg);
  outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
  box-shadow: none;
  margin: 0;
}

/* Safari 3d transform are buggy with z-index overlays */
.safari.csstransforms3d .book.removeTransform {
  -webkit-transform: translate3d(0,0,0);
}

.csstransforms3d  .book img {
  position: relative;
}

.csstransforms3d  .book:before,
.csstransforms3d  .book:after {
  position: absolute;
  top: 2%;
  height: 96%;
  content: ' ';
  z-index: -1;
}

.csstransforms3d  .book:before {
  width: 100%;
  left: 6.5%;
  background-color: #fff;
  box-shadow: 5px 5px 20px #333;
}

.csstransforms3d  .book:after {
  width: 5%;
  left: 100%;
  background-color: #EFEFEF;
  box-shadow: inset 0px 0px 5px #aaa;
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg);
}

/* Fixing some wierdness with book transform in the overlay for FIREFOX */
.gecko.csstransforms3d  .wrap-book .book:before {
  left: 4.5%;
}

.gecko.csstransforms3d .wrap-book .book:after {
	width: 7%;
	left: 98%;
}

