
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Booklet</title>
    <link rel="stylesheet" href="css/booklet.css">
    <!-- Libraries: -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/black-tie/jquery-ui.css" type="text/css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js"></script>
  </head>
  <body>

  <form id="search_form" action="" method="POST">
      <label for="q">Search for Books</label>
      <input autocomplete="off" autofocus="true" type="text" name="q" id="search_input" value="" />
      <input type="submit" id="search_button" value="Go" />
  </form>

  <ul id="books">
  </ul>

  <script type="text/template" id="books_template">
    <li class='<%= id %> book'>
      <h1><a href="<%= selfLink %>" title=""><%= volumeInfo.title %></a></h1>

      <div class="group image">
      <% if (typeof(volumeInfo.imageLinks.thumbnail) != "undefined") { %>
        <a class="detail" href="<%= accessInfo.webReaderLink %>" target="_blank"><img src='<%= volumeInfo.imageLinks.thumbnail %>' /></a>
      <% } %>
        <ul class="meta">
          <li>Published: <%= volumeInfo.publishedDate %> </li>
          <li>Publisher: <a href="#browse/publisher/<%= volumeInfo.publisher %>"><%= volumeInfo.publisher %></a> </li>
          <li>Category: <a href="#browse/subject/<%= volumeInfo.categories %>"><%= volumeInfo.categories %></a> </li>
        </ul>
      </div>

      <p class="description"><%= volumeInfo.description %></p>
    </li>
  </script>

  <script type="text/template" id="book_detail_template">
    <div class="detail-view-template">
          <iframe src="<%= accessInfo.webReaderLink %>&output=embed"></iframe>
    </div>
  </script>


    <script src="js/booklet.js"></script>

</body>
</html>